@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
  }

  body {
    @apply bg-dark-bg text-white/90 min-h-screen min-w-[320px];
  }

  #root {
    @apply w-full min-h-screen;
  }
}
