# Compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock
